#parrafofooter1 {
    color: green;
}

#parrafofooter2 {
    color: red;
}

#parrafofooter3 {
    color: blue;
}

#parrafofooter4 {
    color: rgb(42, 158, 203);
}

#parrafofooter5 {
    color: brown;
}

#parrafofooter6 {
    color: black;
}

footer h2 {
    color: lightcoral;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: aquamarine;
}
